nav {
  // background: rgba(252, 255, 255, 0.87);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  position: absolute;
  width: 77px;
  height: 13px;
  
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  
  color: #FFFFFF;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ee0a0a;
}